

.content {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.board-wrapper {
  width: 500px;
  height: 500px;
  margin: 10px auto;
}

.status {
  font-size: 1.3rem;
  margin: auto;
  height: 23px;
}
